.bundle-dialog {
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    --el-dialog-border-radius: 12px;

    .flex-1 {
        flex: 1;
    }

    .pointer {
        cursor: pointer;
    }

    .el-dialog__header {
        padding: 0;
        margin-right: 0;
        border-bottom: 1px solid var(--el-border-color);
        display: flex;
        align-items: center;

        .el-dialog__headerbtn {
            top: 0;
            width: 50px;
            height: 50px;
        }

        .bundle-name {
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
            border-right: 1px solid var(--el-border-color);

            svg {
                color: var(--el-color-primary);
            }
        }

        .bundle-title {
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
        }
    }

    .el-dialog__body {
        padding: 0;
        flex: 1;
        display: flex;
        overflow: hidden;
        color: var(--el-text-color-primary);
        border-bottom: 1px solid var(--el-border-color);

        .categrory {
            width: 200px;
            border-right: 1px solid var(--el-border-color);
            overflow-x: hidden;
            overflow-y: auto;
            padding: 10px;

            &::-webkit-scrollbar {
                width: 6px
            }

            &::-webkit-scrollbar:horizontal {
                height: 6px
            }

            &::-webkit-scrollbar-track {
                border-radius: 10px
            }

            &::-webkit-scrollbar-thumb {
                background-color: #0003;
                border-radius: 10px;
                transition: all .2s ease-in-out
            }

            &::-webkit-scrollbar-thumb:hover {
                cursor: pointer;
                background-color: #0000004d
            }

            .categrory-item {
                display: flex;
                align-items: center;
                cursor: pointer;
                border-radius: 6px;
                padding: 0 10px;
                margin-bottom: 10px;

                .delete-icon {
                    display: none;
                }

                .categrory-item-title {
                    flex: 1;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                }

                &:hover {
                    background-color: var(--el-color-primary-light-9);

                    .delete-icon {
                        display: block;
                    }
                }

                &.active {
                    background-color: var(--el-color-primary-light-9);
                    color: var(--el-color-primary);
                }

                &.active-danger {
                    background-color: var(--el-color-danger-light-9);
                    color: var(--el-color-danger);
                }
            }
        }

        .bundle-body {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            gap: 10px;
            padding: 10px;
            grid-template-rows: auto;
            align-content: start;

            &::-webkit-scrollbar {
                width: 6px
            }

            &::-webkit-scrollbar:horizontal {
                height: 6px
            }

            &::-webkit-scrollbar-track {
                border-radius: 10px
            }

            &::-webkit-scrollbar-thumb {
                background-color: #0003;
                border-radius: 10px;
                transition: all .2s ease-in-out
            }

            &::-webkit-scrollbar-thumb:hover {
                cursor: pointer;
                background-color: #0000004d
            }

            .load-more {
                grid-column: span 24 / span 24;
            }

            .file-item {
                grid-column: span 4 / span 4;
                cursor: pointer;
                border-radius: 6px;
                position: relative;

                .file-thumb {
                    height: 8vw;
                    width: 100%;
                    font-size: 40px;
                }

                img.file-thumb {
                    object-fit: contain;
                }

                .file-name {
                    padding: 3px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                }

                &:hover {
                    background-color: var(--el-color-primary-light-9);
                }

                &.active {
                    background-color: var(--el-color-primary-light-9);
                    color: var(--el-color-primary);
                }

                &.active-warning {
                    background-color: var(--el-color-warning-light-9);
                    color: var(--el-color-warning);
                }
            }
        }
    }

    .el-dialog__footer {
        display: flex;
    }
}

@media screen and (max-width: 1400px) {
    .bundle-dialog {
        .el-dialog__body {
            .bundle-body {
                .file-item {
                    height: 10vw;
                    grid-column: span 6 / span 6;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .bundle-dialog {
        .el-dialog__body {
            .bundle-body {
                .file-item {
                    height: 13vw;
                    grid-column: span 8 / span 8;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .bundle-dialog {
        .el-dialog__body {
            .bundle-body {
                .file-item {
                    height: 20vw;
                    grid-column: span 12 / span 12;
                }
            }
        }
    }
}